nav {
  background-color: #333;
  overflow: hidden;
  width: 100%;
  position: fixed;
  height: 100px;
  top: 0;
  left: 0;
}

.nav-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav li a {
  display: flex;
  color: white;
  text-align: center;
  padding: 23px 16px;
  font-size: 48px;
  justify-content: center;
  text-decoration: none;
}

.left {
  display: flex;
}

.right {
  display: flex;
}

nav li a:hover {
  background-color: #111;
}

/* Dialogue windows */

.dialogue {
  margin: 20px 20px;
  font-size: 24px;
}

.dialogueHeader {
  margin: 20px 20px;
  font-size: 48px;
  text-align: center;
}

/* Tutorial buttons */

.tutorial-btn {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 20px 20px 20px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
  float: right;
}

/* The Modal (background) */
.modal {
  display: none;
  /* Hidden by default */
  justify-content: center;
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  background-color: #fefefe;
  height: 140px;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 30%;
}

/* Style the close button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.modal-content {
  display: flex;
  justify-content: end;
}

.Banner {
  display: flex;
  background-color: aqua;
  height: 400px;

}

.container {
  display: block;


}



.box1 {
  flex: 1;
  background-color: pink;
  height: 500px;
}

.box2 {
  background-color: beige;
  flex: 1;
  height: 200px;
}

.box3 {
  flex: 1;
  background-color: pink;
  height: 200px;
}

.Welcome {
  background-color: beige;
}