nav {
    background-color: #333;
    overflow: hidden;
    width: 100%;
    position: fixed;
    height: 100px;
  
  }

  .nav-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  nav li a {
    display: flex;
    color: white;
    text-align: center;
    padding: 23px 16px;
    font-size: 48px;
    justify-content: center;
    text-decoration: none;
  } 
  
  .left{
    display: flex;
  }

  .right{
    display: flex;
  }
  
  nav li a:hover {
    background-color: #111;
  }
  
  /* The Modal (background) */
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  
  /* Style the close button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  .modal-content{
    display: flex;
    justify-content: end;
  }

  .Banner{
    display: flex;
    background-color: aqua;
    height: 400px;

  }
  
  .container {
    display: flex;

  }
  

  .box1{
    flex:1;
    background-color: pink;
    height: 200px;
  }

  .box2{
    background-color: beige;
    flex:1;
    height: 200px;
  }
  
  .box3{
    flex:1;
    background-color: pink;
    height: 200px;
  }
  
  .Welcome{
    background-color: beige;
  }