body {
  font-family: 'Arial', sans-serif;
  margin: 0;
}

nav {
  margin: 0;
  background-color: #333;
  overflow: hidden;
  width: 100%;
  position: fixed;
  height: 100px;
  top: 0;
  left: 0;
  border-radius: 10px;
}

.nav-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  border-radius: 10px;
}

nav li a {
  display: flex;
  color: white;
  text-align: center;
  padding: 23px 16px;
  font-size: 48px;
  justify-content: center;
  text-decoration: none;
}

.left {
  display: flex;
}

.right {
  display: flex;
}

nav li a:hover {
  background-color: rgb(44, 194, 231);
  color: orange;
}

.blur {
  filter: blur(15px);
}

.emphasize {
  background-color: orange;
  color: rgb(44, 194, 231);
  font-weight: bold;
}

.hide {
  display: none;
}

/* Dialogue windows */

.content-container {
  margin: 20px;
  padding: 100px 0;
}

.dialogue {
  margin: 20px 20px;
  font-size: 28px;
}

.dialogueHeader {
  margin: 20px 20px;
  font-size: 56px;
  text-align: center;
}

/* Tutorial buttons */

.btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.tutorial-btn {
  background-color: rgb(44, 194, 231);
  border: none;
  color: white;
  padding: 20px 20px 20px 20px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 24px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 10px;
}

.Banner {
  display: flex;
  background-color: aqua;
  height: 400px;

}

.container {
  display: block;
}

.box1 {
  flex: 1;
  background-color: pink;
  height: 500px;
}

.box2 {
  background-color: beige;
  flex: 1;
  height: 200px;
}

.box3 {
  flex: 1;
  background-color: pink;
  height: 200px;
}

.Welcome {
  background-color: beige;
}

footer {
  text-align: center;
  padding: 5px;
  background-color: #abbaba;
  color: #000;
}

.styled {
  border: 0;
  line-height: 2.5;
  padding: 0 20px;
  font-size: 1rem;
  text-align: center;
  color: #fff;
  margin-bottom: 10px;
  text-shadow: 1px 1px 1px #000;
  border-radius: 10px;
  background-color: rgba(220, 0, 0, 1);
  background-image: linear-gradient(to top left, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) 30%, rgba(0, 0, 0, 0));
  box-shadow: inset 2px 2px 3px rgba(255, 255, 255, 0.6), inset -2px -2px 3px rgba(0, 0, 0, 0.6);
}

.styled:hover {
  background-color: rgba(255, 0, 0, 1);
}

.styled:active {
  box-shadow: inset -2px -2px 3px rgba(255, 255, 255, 0.6), inset 2px 2px 3px rgba(0, 0, 0, 0.6);
}

.grid-container-element { 
  display: grid; 
  margin: auto; 
  grid-template-columns: 1fr 1fr; 
  grid-gap: 100px; 
  /*border: 1px solid black; */
  width: 90%; 
  margin-bottom: 75px;
  
} 
.grid-child-element { 
  margin: 10px; 
 /* border: 3px solid rgb(0, 0, 0);  */
  background-color: #f2f2f2;
  border-radius: 70px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

.info {
  text-align: center;
  margin-left:5%;
  margin-right:5%;
}

#title {
  text-align: center;
}

label {
  margin-bottom: 10px;
  display: block;
}

.center-box{
  position:absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  border: 2px solid black;
  border-radius: 10px;
  width: 300px;
  height: 320px;
  text-align: center;
}

.text-field{
  padding: 10px 40px;
  margin: 20px 0;
  border: 2px solid black;
  font-size: 12pt;
  color: black;
}

.btn-style{
  padding: 10px 30px;
  border: 1px solid black;
  background-color: green;
  color: white;
}

.btn-style:hover{
  background-color: white;
  color: green;
}

.an-btn{
  margin-top: 10px;
  border: 0;
  background-color: white;
  color: black;
  font-size: 11pt;
}

#register-div{
  display:none;
}

#result-box{
  display:none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate() translate(-50%, -50%);
  font-size: 14pt;
  color: white;
}
